* {
  background: linear-gradient(to right,#3f5efb,#ebe1e3);

}
.main {
  height: 600px;
}
.container {
  height: 106%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0% 31% 5%;
  border: 2px solid;
  border-radius: 30px;
  justify-content: space-around;
  background: transparent;
  color: black;
  background: transparent;
  margin-right:25%;
  background-color:rgb(245, 237, 237, 0.5);
}
 .heading {
  background: transparent;
  color: white;
  font-size: large;
  text-align: center;
}
  #butt {
  color: white;
  background: palevioletred;
  font-size: 15px;
  border-radius: 20px;
}
.d1 {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: transparent;
  color: white;
}
.d2 {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: transparent;
}
.d3 {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: transparent;
}
.d4 {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: transparent;
}
.d5 {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: transparent;
  color: white;
}
.d6 {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: transparent;
  color: white;
}

#m1 {
  border-radius: 20px;
  background: white;
  background: transparent;
  border: solid 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 200px;
  height: 30px;
  
}

#m2 {
  border-radius: 20px;
  background: white;
  background: transparent;
  border: solid 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 200px;
  height: 30px;
  
}

#m3 {
  border-radius: 20px;
  background: white;
  border: solid 3px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 200px;
  height: 30px;
  
}

#m4 {
  border-radius: 20px;
  background: white;
  border: solid 3px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 200px;
  height: 30px;
  
}

#m5 {
  border-radius: 20px;
  background: white;
  border: solid 3px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 200px;
  height: 30px;
  
}

#m6 {
  border-radius: 20px;
  background: white;
  border: solid 3px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 200px;
  height: 30px;
  
}

#m7 {
  border-radius: 20px;
  background: white;
  border: solid 3px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 200px;
  height: 30px;
}

#m8 {
  border-radius: 20px;
  background: white;
  border: solid 3px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 200px;
  height: 30px;
  
}

#m9 {
  border-radius: 20px;
  background: white;
  border: solid 3px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 200px;
  height: 30px;
}

#m0 {
  border-radius: 20px;
  background: white;
  border: solid 3px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 200px;
  height: 30px;
}

#m01 {
  border-radius: 20px;
  background: white;
  border: solid 3px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  color: black;
  width: 200px;
  height: 30px;
  
}

#hea {
  background: transparent;
  color:#3f5efb
}

#ra1 {
  color: red;
  background: transparent;
  font-size: bold;
  position: absolute;
  top: 28%;
  right:50%;
}

#ra2 {
  color: red;
  background: transparent;
  font-size: bold;
  position: absolute;
  top: 28%;
  right: 30%;
}

#ra3 {
  color: red;
  background: transparent;
  font-size: bold;
  position: absolute;
  top: 40%;
  right: 50%;
}

#ra4 {
  color: red;
  background: transparent;
  font-size: bold;
  position: absolute;
  top: 40%;
  right: 28%;
}

#ra5 {
  color: red;
  background: transparent;
  font-size: bold;
  position: absolute;
  top: 52%;
  right: 44%;
}

#ra6 {
  color: red;
  background: transparent;
  font-size: bold;
  position: absolute;
  top: 63%;
  right: 29%;
}

#ra7 {
  color: red;
  background: transparent;
  font-size: bold;
  position: absolute;
  top: 84%;
  right: 50%;
}

#ra8 {
  color: red;
  background: transparent;
  font-size: bold;
  position: absolute;
  top: 84%;
  right: 30%;
}
#rak {
  color: red;
  background: transparent;
  font-size: bold;
  position: absolute;
  top:63%;
  right:50%;
}
#ra9 {
  color: red;
  background: transparent;
  font-size: bold;
  position: absolute;
  top:75%;
  right:25%;
}
#ra0 {
  color: red;
  background: transparent;
  font-size: bold;
  position: absolute;
  top:75%;
  right:4%;
}
#raa {
  color: red;
  background: transparent;
  font-size: bold;
  position: absolute;
  top: 72%;
  right: 50%;
}